{% extends 'base.html' %}
{% load static %}
{% block title %} Our Blog {% endblock %}
{% block content %}


    <!-- Main -->
    <main>
        <!-- Page Title -->
        <section class="parallax effect-section page-heading" style="background-image: url(static/img/1600x900.jpg);">
            <div class="mask bg-black opacity-8"></div>
            <div class="container position-relative">
                <div class="row align-items-center justify-content-center min-vh-40">
                    <div class="col-lg-8 text-center">
                        <h6 class="text-white-50 font-w-500">We are awesome designer</h6>
                        <h1 class="display-4 text-white m-0">Blog</h1>
                        <ol class="breadcrumb light mb-0 mt-3 justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Title -->
        <!-- Section -->
        <section class="section">
            <div class="container">
                <div class="row g-3 g-lg-4">
                    <div class="col-lg-4">
                        <div class="card shadow border hover-scale overflow-hidden">
                            <div class="hover-scale-in">
                                <img class="card-img-top" src="static/img/1000x700.jpg" title="" alt="">
                            </div>
                            <div class="card-body pt-0 position-relative">
                                <div class="text-muted mb-4 mt-n3"><span class="bg-primary text-white py-1 px-3 d-inline-block rounded-pill small"><i class="far fa-clock me-2"></i>March 14, 2021</span></div>
                                <h5>I like the body. I like to design everything to do with the body.</h5>
                                <p class="pt-3 m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                            <div class="card-footer d-flex align-items-center border-top">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm overflow-hidden rounded-circle"> <img src="static/img/1000x1000.jpg" title="" alt=""> </div>
                                    <div class="col ps-3">
                                        <h6 class="m-0">Nancy Bayers</h6>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link ms-auto icon icon-sm icon-primary-light rounded-circle"> <i class="fas fa-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow border hover-scale overflow-hidden">
                            <div class="hover-scale-in">
                                <img class="card-img-top" src="static/img/1000x700.jpg" title="" alt="">
                            </div>
                            <div class="card-body pt-0 position-relative">
                                <div class="text-muted mb-4 mt-n3"><span class="bg-primary text-white py-1 px-3 d-inline-block rounded-pill small"><i class="far fa-clock me-2"></i>March 14, 2021</span></div>
                                <h5>I like the body. I like to design everything to do with the body.</h5>
                                <p class="pt-3 m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                            <div class="card-footer d-flex align-items-center border-top">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm overflow-hidden rounded-circle"> <img src="static/img/1000x1000.jpg" title="" alt=""> </div>
                                    <div class="col ps-3">
                                        <h6 class="m-0">Nancy Bayers</h6>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link ms-auto icon icon-sm icon-primary-light rounded-circle"> <i class="fas fa-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow border hover-scale overflow-hidden">
                            <div class="hover-scale-in">
                                <img class="card-img-top" src="static/img/1000x700.jpg" title="" alt="">
                            </div>
                            <div class="card-body pt-0 position-relative">
                                <div class="text-muted mb-4 mt-n3"><span class="bg-primary text-white py-1 px-3 d-inline-block rounded-pill small"><i class="far fa-clock me-2"></i>March 14, 2021</span></div>
                                <h5>I like the body. I like to design everything to do with the body.</h5>
                                <p class="pt-3 m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                            <div class="card-footer d-flex align-items-center border-top">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm overflow-hidden rounded-circle"> <img src="static/img/1000x1000.jpg" title="" alt=""> </div>
                                    <div class="col ps-3">
                                        <h6 class="m-0">Nancy Bayers</h6>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link ms-auto icon icon-sm icon-primary-light rounded-circle"> <i class="fas fa-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow border hover-scale overflow-hidden">
                            <div class="hover-scale-in">
                                <img class="card-img-top" src="static/img/1000x700.jpg" title="" alt="">
                            </div>
                            <div class="card-body pt-0 position-relative">
                                <div class="text-muted mb-4 mt-n3"><span class="bg-primary text-white py-1 px-3 d-inline-block rounded-pill small"><i class="far fa-clock me-2"></i>March 14, 2021</span></div>
                                <h5>I like the body. I like to design everything to do with the body.</h5>
                                <p class="pt-3 m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                            <div class="card-footer d-flex align-items-center border-top">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm overflow-hidden rounded-circle"> <img src="static/img/1000x1000.jpg" title="" alt=""> </div>
                                    <div class="col ps-3">
                                        <h6 class="m-0">Nancy Bayers</h6>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link ms-auto icon icon-sm icon-primary-light rounded-circle"> <i class="fas fa-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow border hover-scale overflow-hidden">
                            <div class="hover-scale-in">
                                <img class="card-img-top" src="static/img/1000x700.jpg" title="" alt="">
                            </div>
                            <div class="card-body pt-0 position-relative">
                                <div class="text-muted mb-4 mt-n3"><span class="bg-primary text-white py-1 px-3 d-inline-block rounded-pill small"><i class="far fa-clock me-2"></i>March 14, 2021</span></div>
                                <h5>I like the body. I like to design everything to do with the body.</h5>
                                <p class="pt-3 m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                            <div class="card-footer d-flex align-items-center border-top">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm overflow-hidden rounded-circle"> <img src="static/img/1000x1000.jpg" title="" alt=""> </div>
                                    <div class="col ps-3">
                                        <h6 class="m-0">Nancy Bayers</h6>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link ms-auto icon icon-sm icon-primary-light rounded-circle"> <i class="fas fa-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow border hover-scale overflow-hidden">
                            <div class="hover-scale-in">
                                <img class="card-img-top" src="static/img/1000x700.jpg" title="" alt="">
                            </div>
                            <div class="card-body pt-0 position-relative">
                                <div class="text-muted mb-4 mt-n3"><span class="bg-primary text-white py-1 px-3 d-inline-block rounded-pill small"><i class="far fa-clock me-2"></i>March 14, 2021</span></div>
                                <h5>I like the body. I like to design everything to do with the body.</h5>
                                <p class="pt-3 m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                            <div class="card-footer d-flex align-items-center border-top">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm overflow-hidden rounded-circle"> <img src="static/img/1000x1000.jpg" title="" alt=""> </div>
                                    <div class="col ps-3">
                                        <h6 class="m-0">Nancy Bayers</h6>
                                    </div>
                                </div>
                                <a href="#" class="stretched-link ms-auto icon icon-sm icon-primary-light rounded-circle"> <i class="fas fa-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pt-5">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link bg-primary border-light-rgb text-white" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
    </main>
    <!-- End Main -->
    {% endblock %}
