
{% extends 'base.html' %}
{% load static %}

{% block content %}



    <!-- Main -->
    <main>
        <!-- Home Banner -->
        <section class="parallax effect-section" data-jarallax-video="https://www.youtube.com/embed/XWw1a0JZ_HU?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=http%3A%2F%2Frainbowit.net&widgetid=1">
            <div class="mask bg-black opacity-7"></div>
            <div class="container position-relative">
                <div class="row justify-content-center min-vh-100 py-12 align-items-center">
                    <div class="col-lg-10 col-xl-8 text-center text-white pt-8">
                        <h1 class="display-1 font-w-800 pt-3">We Are Creative Agency</h1>
                        <div class="fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div>
                        <div class="pt-5">
                            <a class="btn btn-lg btn-primary" href="#">Explore Features</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Banner -->
        <!-- Section -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center section-heading">
                    <div class="col-lg-7 col-xl-6 text-center">
                        <h3 class="h1">Build anything you want</h3>
                        <div class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-md-6 col-lg-3">
                        <div class="card bg-light-light border-0 hover-top border-bottom border-4 border-primary shadow">
                            <div class="card-body">
                                <div class="icon icon-lg icon-primary rounded mb-4">
                                    <i class="icon-desktop"></i>
                                </div>
                                <h6>Web Development</h6>
                                <p class="m-0px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card bg-light-light border-0 hover-top border-bottom border-4 border-primary shadow">
                            <div class="card-body">
                                <div class="icon icon-lg icon-primary rounded mb-4">
                                    <i class="icon-tools"></i>
                                </div>
                                <h6>Logo &amp; Identity</h6>
                                <p class="m-0px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card bg-light-light border-0 hover-top border-bottom border-4 border-primary shadow">
                            <div class="card-body">
                                <div class="icon icon-lg icon-primary rounded mb-4">
                                    <i class="icon-hotairballoon"></i>
                                </div>
                                <h6>Graphics Design</h6>
                                <p class="m-0px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card bg-light-light border-0 hover-top border-bottom border-4 border-primary shadow">
                            <div class="card-body">
                                <div class="icon icon-lg icon-primary rounded mb-4">
                                    <i class="icon-scissors"></i>
                                </div>
                                <h6>Social Marketing</h6>
                                <p class="m-0px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section bg-gray-100">
            <div class="container">
                <div class="row justify-content-center section-heading">
                    <div class="col-lg-7 col-xl-6 text-center">
                        <h3 class="h1">How do we create amazing products</h3>
                        <div class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                </div>
                <div class="tab-style-1">
                    <ul class="nav nav-fill nav-tabs shadow bg-white">
                        <li class="nav-item">
                            <a href="#tab3_sec1" data-bs-toggle="tab" class="active">
                                <div class="only-icon only-icon-lg mb-3"><i class="icon-chat"></i></div>
                                <span>Discussion</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab3_sec2" data-bs-toggle="tab">
                                <div class="only-icon only-icon-lg mb-3"><i class="icon-tools"></i></div>
                                <span>Creative Concept</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab3_sec3" data-bs-toggle="tab">
                                <div class="only-icon only-icon-lg mb-3"><i class="icon-megaphone"></i></div>
                                <span>Production</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab3_sec4" data-bs-toggle="tab">
                                <div class="only-icon only-icon-lg mb-3"><i class="icon-heart"></i></div>
                                <span>Happy Client</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!-- start tab content -->
                        <div id="tab3_sec1" class="tab-pane fade in active show">
                            <div class="row align-items-center pt-3 pt-lg-5">
                                <div class="col-lg-6 text-center my-3">
                                    <img src="{% static 'website/static/img/1000x700.jpg' %}" title="" alt="">
                                </div>
                                <div class="col-lg-6 ps-lg-7 ps-xl-10 my-3">
                                    <h2 class="h1 mb-4">Welcome to Mrig <u class="text-primary">Digital Marketing</u></h2>
                                    <p class="mb-2 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <div class="row">
                                        <div class="col-md-6 my-3">
                                            <h5 class="h6 mb-2">Mobile Friendly</h5>
                                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                        <!-- col -->
                                        <div class="col-md-6 my-3">
                                            <h5 class="h6 mb-2">Multiple Layouts</h5>
                                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                        <!-- col -->
                                    </div>
                                    <!-- row -->
                                    <div class="btn-bar pt-3">
                                        <a class="btn btn-primary" href="#">More About</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- start tab content -->
                        <div id="tab3_sec2" class="tab-pane fade in">
                            <div class="row align-items-center pt-3 pt-lg-5">
                                <div class="col-lg-6 text-center my-3">
                                    <img src="{% static 'website/static/img/1000x700.jpg' %}" title="" alt="">
                                </div>
                                <div class="col-lg-6 ps-lg-7 ps-xl-10 my-3">
                                    <h2 class="h1 mb-4">Welcome to Mrig <u class="text-primary">Digital Marketing</u></h2>
                                    <p class="mb-2 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <div class="row">
                                        <div class="col-md-6 my-3">
                                            <h5 class="h6 mb-2">Mobile Friendly</h5>
                                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                        <!-- col -->
                                        <div class="col-md-6 my-3">
                                            <h5 class="h6 mb-2">Multiple Layouts</h5>
                                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                        <!-- col -->
                                    </div>
                                    <!-- row -->
                                    <div class="btn-bar pt-3">
                                        <a class="btn btn-primary" href="#">More About</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- start tab content -->
                        <div id="tab3_sec3" class="tab-pane fade in">
                            <div class="row align-items-center pt-3 pt-lg-5">
                                <div class="col-lg-6 text-center my-3">
                                    <img src="{% static 'website/static/img/1000x700.jpg' %}" title="" alt="">
                                </div>
                                <div class="col-lg-6 ps-lg-7 ps-xl-10 my-3">
                                    <h2 class="h1 mb-4">Welcome to Mrig <u class="text-primary">Digital Marketing</u></h2>
                                    <p class="mb-2 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <div class="row">
                                        <div class="col-md-6 my-3">
                                            <h5 class="h6 mb-2">Mobile Friendly</h5>
                                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                        <!-- col -->
                                        <div class="col-md-6 my-3">
                                            <h5 class="h6 mb-2">Multiple Layouts</h5>
                                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                        <!-- col -->
                                    </div>
                                    <!-- row -->
                                    <div class="btn-bar pt-3">
                                        <a class="btn btn-primary" href="#">More About</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- start tab content -->
                        <div id="tab3_sec4" class="tab-pane fade in">
                            <div class="row align-items-center pt-3 pt-lg-5">
                                <div class="col-lg-6 text-center my-3">
                                    <img src="{% static 'website/static/img/1000x700.jpg' %}" title="" alt="">
                                </div>
                                <div class="col-lg-6 ps-lg-7 ps-xl-10 my-3">
                                    <h2 class="h1 mb-4">Welcome to Mrig <u class="text-primary">Digital Marketing</u></h2>
                                    <p class="mb-2 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <div class="row">
                                        <div class="col-md-6 my-3">
                                            <h5 class="h6 mb-2">Mobile Friendly</h5>
                                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                        <!-- col -->
                                        <div class="col-md-6 my-3">
                                            <h5 class="h6 mb-2">Multiple Layouts</h5>
                                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                        <!-- col -->
                                    </div>
                                    <!-- row -->
                                    <div class="btn-bar pt-3">
                                        <a class="btn btn-primary" href="#">More About</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center section-heading">
                    <div class="col-lg-7 col-xl-6 text-center">
                        <h3 class="h1">You deserve all time best</h3>
                        <div class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                </div>
                <div class="row g-4 g-xl-5">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card shadow card-hover-1 primary-after border">
                            <div class="card-body">
                                <div class="icon icon-xl icon-primary text-white rounded-circle mb-4">
                                    <i class="bi bi-briefcase"></i>
                                </div>
                                <div class="">
                                    <h5 class="h4">Business Stratagy</h5>
                                    <p class="m-0 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card shadow card-hover-1 primary-after border">
                            <div class="card-body">
                                <div class="icon icon-xl icon-primary text-white rounded-circle mb-4">
                                    <i class="bi bi-columns"></i>
                                </div>
                                <div class="">
                                    <h5 class="h4">Website Development</h5>
                                    <p class="m-0 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card shadow card-hover-1 primary-after border">
                            <div class="card-body">
                                <div class="icon icon-xl icon-primary text-white rounded-circle mb-4">
                                    <i class="bi bi-command"></i>
                                </div>
                                <div class="">
                                    <h5 class="h4">Marketing & Reporting</h5>
                                    <p class="m-0 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card shadow card-hover-1 primary-after border">
                            <div class="card-body">
                                <div class="icon icon-xl icon-primary text-white rounded-circle mb-4">
                                    <i class="bi bi-phone"></i>
                                </div>
                                <div class="">
                                    <h5 class="h4">Mobile Development</h5>
                                    <p class="m-0 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card shadow card-hover-1 primary-after border">
                            <div class="card-body">
                                <div class="icon icon-xl icon-primary text-white rounded-circle mb-4">
                                    <i class="bi bi-envelope"></i>
                                </div>
                                <div class="">
                                    <h5 class="h4">Email Marketing</h5>
                                    <p class="m-0 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card shadow card-hover-1 primary-after border">
                            <div class="card-body">
                                <div class="icon icon-xl icon-primary text-white rounded-circle mb-4">
                                    <i class="bi bi-circle-square"></i>
                                </div>
                                <div class="">
                                    <h5 class="h4">Copywriting</h5>
                                    <p class="m-0 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section bg-gray-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 my-3">
                        <h3 class="h1 mb-4">Unlimited power and customization possibilities.</h3>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="pt-4">
                            <div class="skill-lt md">
                                <h6 class="dark-color">Website Development</h6>
                                <div class="skill-bar">
                                    <div class="skill-bar-in bg-primary" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100">
                                        <span>92%</span>
                                    </div>
                                </div>
                            </div><!-- /skill -->
                            <div class="skill-lt md">
                                <h6 class="dark-color">Mobile Development</h6>
                                <div class="skill-bar">
                                    <div class="skill-bar-in bg-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span>85%</span>
                                    </div>
                                </div>
                            </div><!-- /skill -->
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-4 ms-lg-auto align-self-center my-3">
                        <div class="accordion bg-dark rounded p-3 overflow-hidden mt-3 border-0" id="accordionExample_01">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading_01_1">
                                    <button class="accordion-button border-0 text-white bg-light-light text-start fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_1" aria-expanded="true" aria-controls="collapse_01_1">
                                        Ux/Ui and Brand Designer
                                    </button>
                                </h2>
                                <div id="collapse_01_1" class="border-0 accordion-collapse collapse show" aria-labelledby="heading_01_1" data-bs-parent="#accordionExample_01">
                                    <div class="accordion-body text-white-50">
                                        Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading_01_2">
                                    <button class="accordion-button border-0 text-white bg-light-light text-start fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_2" aria-expanded="false" aria-controls="collapse_01_2">
                                        WordPress Developer Course
                                    </button>
                                </h2>
                                <div id="collapse_01_2" class="border-0 accordion-collapse collapse" aria-labelledby="heading_01_2" data-bs-parent="#accordionExample_01">
                                    <div class="accordion-body text-white-50">
                                        Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading_01_3">
                                    <button class="accordion-button border-0 text-white bg-light-light text-start fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_3" aria-expanded="false" aria-controls="collapse_01_3">
                                        Magento Development
                                    </button>
                                </h2>
                                <div id="collapse_01_3" class="border-0 accordion-collapse collapse" aria-labelledby="heading_01_3" data-bs-parent="#accordionExample_01">
                                    <div class="accordion-body text-white-50">
                                        Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 my-3 pe-xl-12">
                        <h6 class="text-primary mb-3">About Us</h6>
                        <h3 class="h1">Creative Design &amp; Development</h3>
                        <div class="lead mb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        <div class="d-flex mb-5">
                            <div class="only-icon only-icon-lg text-primary">
                                <i class="icon-tools"></i>
                            </div>
                            <div class="col ps-3">
                                <h5>Powerful Options</h5>
                                <p class="m-0">Vencer is a HTML5 template based on Sass and Bootstrap 5 with modern and creative</p>
                            </div>
                        </div>
                        <div class="d-flex mb-5">
                            <div class="only-icon only-icon-lg text-primary">
                                <i class="icon-layers"></i>
                            </div>
                            <div class="col ps-3">
                                <h5>Visual Page Builder</h5>
                                <p class="m-0">Vencer is a HTML5 template based on Sass and Bootstrap 5 with modern and creative</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 my-3">
                        <img src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section bg-gray-100">
            <div class="container">
                <div class="row justify-content-center section-heading">
                    <div class="col-lg-8 col-xl-7 text-center">
                        <h3 class="h1">We Make Beautiful Things</h3>
                        <div class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                </div>
                <div class="portfolio-filter-01 pt-0 mb-4">
                    <ul class="filter justify-content-center nav">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".branding">Branding</li>
                        <li data-filter=".photoshop">Photoshop</li>
                        <li data-filter=".fashion">Fashion</li>
                        <li data-filter=".product">Product</li>
                    </ul>
                </div>
                <div class="portfolio-content row g-4 lightbox-gallery">
                    <div class="col-sm-6 col-lg-4 col-xl-3 grid-item product branding">
                        <div class="card border shadow">
                            <a href="{% static 'website/static/img/1000x1000.jpg' %}" class="gallery-link">
                                <img class="card-img-top" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </a>
                            <div class="card-body p-3">
                                <div class="nav">
                                    <a href="#" class="small font-w-600 me-2 text-primary">Articles</a>
                                </div>
                                <h5 class="mt-2 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 grid-item photoshop branding">
                        <div class="card border shadow">
                            <a href="{% static 'website/static/img/1000x1000.jpg' %}" class="gallery-link">
                                <img class="card-img-top" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </a>
                            <div class="card-body p-3">
                                <div class="nav">
                                    <a href="#" class="small font-w-600 me-2 text-primary">Articles</a>
                                </div>
                                <h5 class="mt-2 mb-0"><a class="text-reset" href="#">Crizo Template</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 grid-item product photoshop">
                        <div class="card border shadow">
                            <a href="{% static 'website/static/img/1000x1000.jpg' %}" class="gallery-link">
                                <img class="card-img-top" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </a>
                            <div class="card-body p-3">
                                <div class="nav">
                                    <a href="#" class="small font-w-600 me-2 text-primary">Articles</a>
                                </div>
                                <h5 class="mt-2 mb-0"><a class="text-reset" href="#">Mrikon</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 grid-item fashion branding">
                        <div class="card border shadow">
                            <a href="{% static 'website/static/img/1000x1000.jpg' %}" class="gallery-link">
                                <img class="card-img-top" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </a>
                            <div class="card-body p-3">
                                <div class="nav">
                                    <a href="#" class="small font-w-600 me-2 text-primary">Articles</a>
                                </div>
                                <h5 class="mt-2 mb-0"><a class="text-reset" href="#">AppWay</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 grid-item photoshop fashion">
                        <div class="card border shadow">
                            <a href="{% static 'website/static/img/1000x1000.jpg' %}" class="gallery-link">
                                <img class="card-img-top" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </a>
                            <div class="card-body p-3">
                                <div class="nav">
                                    <a href="#" class="small font-w-600 me-2 text-primary">Articles</a>
                                </div>
                                <h5 class="mt-2 mb-0"><a class="text-reset" href="#">Amigo</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 grid-item product branding">
                        <div class="card border shadow">
                            <a href="{% static 'website/static/img/1000x1000.jpg' %}" class="gallery-link">
                                <img class="card-img-top" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </a>
                            <div class="card-body p-3">
                                <div class="nav">
                                    <a href="#" class="small font-w-600 me-2 text-primary">Articles</a>
                                </div>
                                <h5 class="mt-2 mb-0"><a class="text-reset" href="#">Raino</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 grid-item product fashion">
                        <div class="card border shadow">
                            <a href="{% static 'website/static/img/1000x1000.jpg' %}" class="gallery-link">
                                <img class="card-img-top" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </a>
                            <div class="card-body p-3">
                                <div class="nav">
                                    <a href="#" class="small font-w-600 me-2 text-primary">Articles</a>
                                </div>
                                <h5 class="mt-2 mb-0"><a class="text-reset" href="#">Luper</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 grid-item fashion photoshop">
                        <div class="card border shadow">
                            <a href="{% static 'website/static/img/1000x1000.jpg' %}" class="gallery-link">
                                <img class="card-img-top" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </a>
                            <div class="card-body p-3">
                                <div class="nav">
                                    <a href="#" class="small font-w-600 me-2 text-primary">Articles</a>
                                </div>
                                <h5 class="mt-2 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="counter section">
            <div class="container">
                <div class="row">
                    <div class=" col-6 col-lg-3 col-md-6 my-3">
                        <div class="border shadow line-hover p-4 rounded text-center">
                            <div class="only-icon only-icon-lg d-inline-block mb-3">
                                <i class="icon-desktop"></i>
                            </div>
                            <h6 class="count h3 mb-1" data-to="4506" data-speed="4506">4506</h6>
                            <span>Happy Clients</span>
                        </div>
                    </div>
                    <div class=" col-6 col-lg-3 col-md-6 my-3">
                        <div class="border shadow line-hover p-4 rounded text-center">
                            <div class="only-icon only-icon-lg d-inline-block mb-3">
                                <i class="icon-camera"></i>
                            </div>
                            <h6 class="count h3 mb-1" data-to="1580" data-speed="1580">1580</h6>
                            <span>Photo Capture</span>
                        </div>
                    </div>
                    <div class=" col-6 col-lg-3 col-md-6 my-3">
                        <div class="border shadow line-hover p-4 rounded text-center">
                            <div class="only-icon only-icon-lg d-inline-block mb-3">
                                <i class="icon-laptop"></i>
                            </div>
                            <h6 class="count h3 mb-1" data-to="1280" data-speed="1280">1280</h6>
                            <span>Projects</span>
                        </div>
                    </div>
                    <div class=" col-6 col-lg-3 col-md-6 my-3">
                        <div class="border shadow line-hover p-4 rounded text-center">
                            <div class="only-icon only-icon-lg d-inline-block mb-3">
                                <i class="icon-chat"></i>
                            </div>
                            <h6 class="count h3 mb-1" data-to="9642" data-speed="9642">9642</h6>
                            <span>Clients call</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section bg-gray-100">
            <div class="container">
                <div class="row justify-content-center section-heading">
                    <div class="col-lg-8 col-xl-7 text-center">
                        <h3 class="h1">Skilled Team.</h3>
                        <div class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6">
                        <div class="hover-top-in">
                            <div>
                                <img class="rounded" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </div>
                            <div class="mx-3 shadow bg-white border rounded-3 position-relative mt-n4 p-4 text-center hover-top--in">
                                <h6 class="mb-2">Nancy Bayers</h6>
                                <small>Co-Founder</small>
                                <div class="nav justify-content-center pt-3">
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="hover-top-in">
                            <div>
                                <img class="rounded" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </div>
                            <div class="mx-3 shadow bg-white border rounded-3 position-relative mt-n4 p-4 text-center hover-top--in">
                                <h6 class="mb-2">Nancy Bayers</h6>
                                <small>Co-Founder</small>
                                <div class="nav justify-content-center pt-3">
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="hover-top-in">
                            <div>
                                <img class="rounded" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </div>
                            <div class="mx-3 shadow bg-white border rounded-3 position-relative mt-n4 p-4 text-center hover-top--in">
                                <h6 class="mb-2">Nancy Bayers</h6>
                                <small>Co-Founder</small>
                                <div class="nav justify-content-center pt-3">
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="hover-top-in">
                            <div>
                                <img class="rounded" src="{% static 'website/static/img/1000x1000.jpg' %}" title="" alt="">
                            </div>
                            <div class="mx-3 shadow bg-white border rounded-3 position-relative mt-n4 p-4 text-center hover-top--in">
                                <h6 class="mb-2">Nancy Bayers</h6>
                                <small>Co-Founder</small>
                                <div class="nav justify-content-center pt-3">
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="icon icon-sm bg-primary text-white rounded-circle mx-1" href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center section-heading">
                    <div class="col-lg-8 col-xl-7 text-center">
                        <h3 class="h1">Interesting stories.</h3>
                        <div class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 my-3">
                        <div class="hover-top-in">
                            <div>
                                <a href="#">
                                    <img class="rounded-3 shadow-sm" src="{% static 'website/static/img/1000x700.jpg' %}" title="" alt="">
                                </a>
                            </div>
                            <div class="mt-n4 hover-top--in">
                                <div class="mx-3 mx-lg-4 shadow border rounded-3 bg-white p-4 position-relative">
                                    <div class="mb-3"><i class="far fa-clock me-2"></i>March 14, 2021</div>
                                    <a class="h5" href="#">I like the body. I like to design everything to do with the body.</a>
                                    <p class="pt-3">Lorem Ipsum is simply dummy text of the printing and...</p>
                                    <a class="ms-auto font-w-600 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my-3">
                        <div class="hover-top-in">
                            <div>
                                <a href="#">
                                    <img class="rounded-3 shadow-sm" src="{% static 'website/static/img/1000x700.jpg' %}" title="" alt="">
                                </a>
                            </div>
                            <div class="mt-n4 hover-top--in">
                                <div class="mx-3 mx-lg-4 shadow border rounded-3 bg-white p-4 position-relative">
                                    <div class="mb-3"><i class="far fa-clock me-2"></i>March 14, 2021</div>
                                    <a class="h5" href="#">I like the body. I like to design everything to do with the body.</a>
                                    <p class="pt-3">Lorem Ipsum is simply dummy text of the printing and...</p>
                                    <a class="ms-auto font-w-600 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my-3">
                        <div class="hover-top-in">
                            <div>
                                <a href="#">
                                    <img class="rounded-3 shadow-sm" src="{% static 'website/static/img/1000x700.jpg' %}" title="" alt="">
                                </a>
                            </div>
                            <div class="mt-n4 hover-top--in">
                                <div class="mx-3 mx-lg-4 shadow border rounded-3 bg-white p-4 position-relative">
                                    <div class="mb-3"><i class="far fa-clock me-2"></i>March 14, 2021</div>
                                    <a class="h5" href="#">I like the body. I like to design everything to do with the body.</a>
                                    <p class="pt-3">Lorem Ipsum is simply dummy text of the printing and...</p>
                                    <a class="ms-auto font-w-600 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section bg-gray-100">
            <div class="container">
                <div class="row section-heading">
                    <div class="col-lg-8 col-xl-7">
                        <h2 class="display-6 mb-3">Need a hand?</h2>
                        <div class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-6 mb-lg-0">
                        <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="static/plugin/mail/bat/rd-mailform.php">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input id="contact-subject" type="text" name="subject" placeholder="Subject" data-constraints="@Required" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="contact-message" name="message" rows="6" placeholder="Hi there, I would like to ..." data-constraints="@Required"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit" name="send">Get Started</button>
                                    <div class="snackbars" id="form-output-global"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5 col-xl-4 ms-auto">
                        <div class="bg-light-light p-4 rounded">
                            <h5 class="m-20px-b body-color">Reach out now!</h5>
                            <div class="h1 theme-color"></div>
                            <div class="d-flex align-items-center py-2 py-lg-3">
                                <div class="icon icon-primary-light rounded-circle">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="col ps-3">
                                    <h6 class="h4 m-0">+01 856 965 8595</h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-2 py-lg-3">
                                <div class="icon icon-primary-light rounded-circle">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="col ps-3">
                                    <h6 class="h4 m-0">info@yourdomain.com</h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-2 py-lg-3">
                                <div class="icon icon-primary-light rounded-circle">
                                    <i class="fas fa-map"></i>
                                </div>
                                <div class="col ps-3">
                                    <h6 class="h4 m-0">301 The Greenhouse, Custard Factory, LD, E2 8DY.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="py-5 effect-section parallax" style="background-image: url(static/img/1600x900.jpg);">
            <div class="mask bg-primary opacity-9"></div>
            <div class="container position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-5 my-3 text-center text-lg-start">
                        <h4 class="h3 m-0 text-white">Subscribe to our quarterly Newsletter</h4>
                    </div>
                    <div class="col-lg-6 my-3 text-center text-lg-start">
                        <form>
                            <div class="d-flex flex-column flex-md-row">
                                <input type="email" class="form-control me-md-2 mb-2 mb-md-0 border-0" placeholder="Enter your username">
                                <button class="btn btn-outline-light flex-shrink-0" type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
    </main>
    <!-- End Main -->

    {% endblock %}
   